.App {
  text-align: center;
}
#root{
  background-color: #ebebeb;
  font-family: 'Roboto Mono', monospace;
  font-weight: bolder;
}

html{
  background-color: #ebebeb;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
}

.border {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: white;
  border-radius: 15px;
  box-shadow: 5px 10px 18px #888888;
  width: 100%;
  height: auto;
  max-width: 25em;
  margin-bottom: 3em;
}

.links {
  text-decoration: none;
  color: rgb(77, 77, 211);
}

.alertMSG {
  display: flex;
  justify-content: center;
}

.containerLogin {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
}

.borderLogin {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: white;
  border-radius: 15px;
  box-shadow: 5px 10px 18px #888888;
  height: 17em;
  width: 20em;
  margin-bottom: 3em;
}

#IconHome {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.imgNewPost {
  max-height: 30em;
  max-width: 22em;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.imgNull{
  min-height: 30em;
  min-width: 22em;
  max-height: 30em;
  max-width: 22em;
  object-fit: cover;
  border: rgb(184, 171, 153) solid;
}


.borderSearch{
  border-radius: 10px;
  box-shadow: 1px 2px 5px grey;
  background: rgb(255, 255, 255);
}


.borderSearch:hover{
  border-radius: 10px;
  box-shadow: inset 0 0 0.5em rgb(155, 152, 152);
  background: rgb(255, 255, 255);
}



/* new Global Card */

/* @import url('https://fonts.googleapis.com/css2?family=poppins&display=swap'); */

.card{
  padding: 1em;
  border-radius: 0 0 20px rgba(0, 0, 0, 0.089);
  box-shadow: 0px 3px 10px 2px rgb(0,0,0,0.397);
  /* font-family: 'Poppins', sans-serif; */
}

.post_header{
  display: flex;
  align-items: center;
  margin-bottom: 0.4em;
  position: relative;
}

.post_header #delete{
  position: absolute;
  right: 0;
}

.heading{
  margin-left: 0.4em;
}

.heading .main_heading{
  font-family: 0.6em;
  margin:0;
}

.heading .sub_heading{
  font-size: 0.8em;
  margin:0;
  color: rgb(0,0,0,0.836);
}

.post_header img{
  width: 25px;
  height: 25px;
  border-radius: 50px;
  box-shadow: 0 0 10px rgb(0,0,0,0.432);
  vertical-align: middle;
}

.post_img img{
  width: 100%;
  height: auto;
  border-radius: 20px;
  margin-bottom: 0.8em;
  box-shadow: 0px 10px 20px rgb(0,0,0,0.397);
}

.post_footer{
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

/* .btn{
  position: relative;
  width: 20px;
  height: 20px;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
} */

.newPost{
  display: flex;
  align-items: center;
}


.font{
  font-family: 'Roboto Mono', monospace;
  font-weight: bolder;
}